*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html body{
    background-image: linear-gradient(90deg, rgb(187, 69, 241),rgb(67, 142, 185) );
    background-size: 280%;
    background-position:-400px 100px;
 }
.section-one{
   top:50%;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container{ 
    border-radius: 5px;
    height: 600px;
    width: 600px;
    padding: 30px;
    /* margin-bottom: 30px; */
    background: rgb(68, 68, 197);
}
.container h2{
    color: white;
}
.navbar button{
    outline: none;
}
.form-inline.btn{
    margin-top: 20px;
    margin-bottom: 50px;
    background: rgb(68, 68, 197);
    color: #fff;
    border-radius: 5px;
    border:0px;
}
form .btn{
    margin-top: 20px;
    margin-bottom: 50px;
}
@media (max-width:576px){
    html,body{
        background: rgb(68, 68, 197);
    }
    .section-one{
        background: rgb(68, 68, 197);
    }

    .container{
        background: rgb(68, 68, 197);
    }
    .container h2{
        margin-top: 10px;
        font-size: 25px;
    }
    form .btn{
    margin-bottom: 60px;
    margin-top: 20px;
}
    .navbar{
        background: rgb(68, 68, 197);
    }
    }